/* Write your CSS here */
button {
  color: #c4c4c4;
  background-color: #382f5a;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: #ffffff;
}

.list {
  list-style-type: none;
}
